[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = git@github.com:rhodyboland/sllidar_ros2.git
[submodule "src/dfrobot_dc_motor_hardware"]
	path = src/dfrobot_dc_motor_hardware
	url = https://github.com/rhodyboland/dfrobot_dc_motor_hardware
[submodule "src/icm_20948"]
	path = src/icm_20948
	url = git@github.com:rhodyboland/icm_20948.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/RoverRobotics-forks/serial-ros2.git
