[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = git@github.com:rhodyboland/sllidar_ros2.git
[submodule "src/dual_motor_hat_ROS2"]
	path = src/dual_motor_hat_ROS2
	url = git@github.com:rhodyboland/dual_motor_hat_ROS2.git
